#createCardForm {
  width: 30vw;
  min-width: 300px;
  margin: 2rem auto;
  padding: 1rem;
  border-radius: 1rem;
  border: 1px solid #2196f3;
  box-shadow: 0.5rem 0.5rem 0.5rem cadetblue;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
