#createCardForm {
  width: 30vw;
  min-width: 300px;
  margin: 2rem auto;
  padding: 1rem;
  border-radius: 1rem;
  border: 1px solid #2196f3;
  box-shadow: 0.5rem 0.5rem 0.5rem cadetblue;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.formCardsWrapper {
  width: 80%;
  margin: 1rem auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

.createCardMes {
  width: 80%;
  margin: 0.5rem auto;
  color: royalblue;
  font-weight: 600;
  font-size: 1.2rem;
  text-align: center;
}
.nameWrapper {
  width: 80%;
  margin: 1rem auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#fname,
#lname {
  min-width: 20rem;
  height: 1.7rem;
  border-radius: 1rem;
  font-size: 1rem;
  border: 1px solid royalblue;
  box-shadow: 0.7rem 0.6rem 1rem #aaa;
  padding-left: 0.8rem;
}

.input-wrapper {
  position: relative;
}

.er-mes {
  color: red;
  font-size: 0.9rem;
  font-style: italic;
  position: absolute;
  top: 1.2rem;
  left: 1rem;
}
.birthdayWrapper {
  width: 80%;
  margin: 1rem auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#dob {
  min-width: 20rem;
  height: 1.7rem;
  border-radius: 1rem;
  font-size: 1rem;
  border: 1px solid royalblue;
  box-shadow: 0.7rem 0.6rem 1rem #aaa;
  padding-left: 0.8rem;
}

.bday-wrapper {
  position: relative;
}

.er-mes {
  color: red;
  font-size: 0.9rem;
  font-style: italic;
  position: absolute;
  top: 1.2rem;
  left: 1rem;
}

.countryWrapper {
  width: 80%;
  margin: 1rem auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.countryWrapper select {
  min-width: 20rem;
  height: 1.7rem;
  border-radius: 1rem;
  font-size: 1rem;
  border: 1px solid royalblue;
  box-shadow: 0.7rem 0.6rem 1rem #aaa;
  padding-left: 0.8rem;
}

.select-wrapper {
  position: relative;
}

.er-mes {
  color: red;
  font-size: 0.9rem;
  font-style: italic;
  position: absolute;
  top: 1.2rem;
  left: 1rem;
}

.genderWrapper {
  width: 50%;
  margin: 1rem auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.switch {
  position: relative;
  display: inline-block;
  width: 20rem;
  height: 1.2rem;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  width: 5rem;
  top: 0;
  left: 5rem;
  right: 5rem;
  bottom: 0;
  background-color: #2196f3;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  border-radius: 1.2rem;
}

.slider:before {
  position: absolute;
  content: '';
  height: 1.2rem;
  width: 1.2rem;
  left: 0;
  bottom: 0;
  border-radius: 50%;
  background-color: white;
  box-sizing: border-box;
  border: 2px solid #2196f3;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

input:checked + .slider {
  background-color: violet;
}

input:focus + .slider {
  box-shadow: 0 0 1px violet;
}

input:checked + .slider:before {
  -webkit-transform: translateX(4rem);
  -ms-transform: translateX(4rem);
  transform: translateX(4rem);
  border: 2px solid violet;
}

#male {
  color: #2196f3;
  position: absolute;
  left: 0;
}
#female {
  position: absolute;
  right: 0;
}

input:checked ~ #male {
  color: unset;
}

input:checked ~ #female {
  color: violet;
}
.avatar-wrapper {
  position: relative;
  width: 50%;
  margin: 1rem auto;
}

.avatar-wrapper > .er-mes {
  color: red;
  font-size: 0.9rem;
  font-style: italic;
  position: absolute;
  top: 0.6rem;
  left: 1rem;
}

.agreemWrapper {
  width: 50%;
  margin-left: 11%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.input-wrapper {
  position: relative;
}

.agreemWrapper > .er-mes {
  color: red;
  font-size: 0.9rem;
  font-style: italic;
  position: absolute;
  top: 0.4rem;
  left: 50%;
}

.panelButtons {
  width: 80%;
  margin: 1rem auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.panelButtons > input {
  padding: 0.7rem;
  border-radius: 0.5rem;
  cursor: pointer;
}

input[type='submit'] {
  background-color: royalblue;
  color: azure;
}

input[type='submit']:disabled {
  background-color: unset;
  color: royalblue;
  cursor: default;
}
