.card-page-section {
  position: relative;
}
.card-page-wrapper {
  padding: 2rem;
  margin: 1.3rem auto;
  width: 400px;
  list-style: none;
  border-radius: 1rem;
  box-shadow: 1rem 1rem 1rem grey, 0.4rem 0.4rem 1rem rgb(151, 147, 147) inset;
}

.card-page-wrapper > img {
  width: 80%;
  height: 300px;
  object-fit: cover;
  object-position: center;
  border-radius: 1rem;
  display: block;
  margin: 0 auto;
}

.backBtn {
  position: absolute;
  top: 2rem;
  left: 3rem;
}
