.agreemWrapper {
  width: 50%;
  margin-left: 11%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.input-wrapper {
  position: relative;
}

.agreemWrapper > .er-mes {
  color: red;
  font-size: 0.9rem;
  font-style: italic;
  position: absolute;
  top: 0.4rem;
  left: 50%;
}
